PORT=4000
HOST=127.0.0.1
DATABASE_PATH=./data/dpsmeter.sqlite
CORS_ORIGIN=https://aiondps.com
BASE_URL=https://aiondps.com
GITHUB_TOKEN=
GITHUB_ISSUES_REPO=SkeeveAN/Aion-DPS-Meter
GITHUB_DATA_REPO=SkeeveAN/Aion-DPS-Feedback
